<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.alaska.gina.feeder.gina_puffinfeeder_android_viewer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainLauncherActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PreferencesActivity"
            android:configChanges="orientation|screenSize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.alaska.gina.feeder.puffinfeeder.MainLauncherActivity" />
        </activity>

        <activity
            android:name=".WebViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_web_view"
            android:parentActivityName=".MainLauncherActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainLauncherActivity" />
        </activity>

        <service
            android:name=".network.JsonSpiceService"
            android:exported="false" />

        <service
                android:name="com.octo.android.robospice.spicelist.simple.BitmapSpiceService"
                android:exported="false" />

        <activity
            android:name=".FullscreenImageViewerActivity"
            android:label="@string/title_activity_fullscreen_image_viewer"
            android:parentActivityName=".MainLauncherActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.alaska.gina.feeder.gina_puffinfeeder_android_viewer.MainLauncherActivity" />
        </activity>

        <activity
            android:name=".FullscreenVideoPlayerActivity"
            android:parentActivityName=".MainLauncherActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.alaska.gina.feeder.gina_puffinfeeder_android_viewer.MainLauncherActivity" />
        </activity>
    </application>

</manifest>
